/* Center the form and style it */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height to center vertically */
    background-color:  #1f1f1f;
    padding: 0;
    margin: 0;
  }
  
  .movie-form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
  }
  
  .movie-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: none;
    height: 100px;
  }
  
  .submit-button {
    padding: 10px;
    width: 100%;
    background-color: limegreen;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #32cd32;
  }