.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
    background-color: #1f1f1f;
    color:  #fff;
  }
  
.home-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; 
}
  .search-bar {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
  }
  
  .search-button {
    background-color: #00ff00;
    border: none;
    cursor: pointer;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: White; 
  }
