.video-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

iframe {
 margin-left: 350px;
   justify-content: center;
  align-items: center;
  
}
.description-container {
  margin-top:5px;
  max-width: 800px;
  margin-left: 350px;
  margin-right: auto;
  margin-bottom: 10px;
}
.description-container {
  display: flex;
  align-items: flex-start; /* מוודא שכל תוכן מיושר מלמעלה */
}

.h2-description {
  font-size: 1.3rem;
  margin: 0;
  color: #fff;
  display: inline;
  margin-right: 0.5rem; /* רווח קטן בין הכותרת לתיאור */
  white-space: nowrap; /* כדי שהכותרת לא תרד שורה */
}

.movie-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
  display: inline;
}


.tools{
  margin-left: 350px;
  margin-top:15px;
}