

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

iframe {
 margin-left: 350px;
   justify-content: center;
  align-items: center;
  
}
.description-container {
  margin-top:5px;
  max-width: 800px;
  margin-left: 350px;
  margin-right: auto;
  margin-bottom: 10px;
}

.h2-description{
  font-size: 2rem;
  margin:0px;
  justify-content:right;
  color: #fff;
}

.movie-description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
}
.tools{
  margin-left: 350px;
  margin-top:15px;
}