.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
  }
  
  .logo {
    color: #000000;
    font-size: 24px;
    background-color: #00ff00;
  }
  
 
  