.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1f1f1f;
  }
  
  .logo {
    color: #000000;
    font-size: 24px;
    background-color: #00ff00;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 5px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
  }
  
  .search-button {
    background-color: #00ff00;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  