* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: white;
  background-color: #1f1f1f;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.background_text {
  padding: 1.25rem;
  margin: 0 auto;
  max-width: 75rem;
  background-color: #1f1f1f;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  position: relative;
}

.h1-about-us {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.25rem;
  color: #05a079;
}

.h2-about-us {
  font-size: 2rem;
  margin: 1.25rem 0;
  color: #05a079;
  border-bottom: 0.125rem solid #05a079;
  padding-bottom: 0.625rem;
}


article {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.875rem;
  color: white;
}

.p-about::first-letter {
  color: #05a079;
  font-size: 2rem;
  font-weight: bold;
}


a {
  color: blue;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: white;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  margin-top: 1.875rem;
}


.grid-item {
  background-color: #1f1f1f;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}


video {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


#prices {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

#prices th, #prices td {
  border: 0.0625rem solid #ddd;
  padding: 0.625rem;
  text-align: center;
  color: #555;
}

#prices th {
  background-color: #05a079;
  color: rgb(255, 255, 255);
}

#prices tr:nth-child(even) {
  background-color: #91f3db;
}

#prices tr:nth-child(odd) {
  background-color: white;
}

#prices tr:hover {
  background-color: #ddd;
}


@media screen and (max-width: 48rem) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  article {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 30rem) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  article {
    font-size: 0.8rem;
  }
}
