h2 {
    margin-left: 13.4375rem;
    font-size: 2rem;
    padding: 0.5rem 0;
}


@media (max-width: 1024px) {
    h2 {
        margin-left: 10rem;
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    h2 {
        margin-left: 5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    h2 {
        margin-left: 3rem;
        font-size: 1.375rem;
    }
}

@media (max-width: 480px) {
    h2 {
        margin-left: 2rem;
        font-size: 1.25rem;
    }
}


@media (max-width: 320px) {
    h2 {
        margin-left: 1rem;
        font-size: 1.1rem;
    }
}
