.movie-card {
    background-color: #222;
    border-radius: 0.625rem;
    overflow: hidden;
    width: 100%; /* Use 100% to allow flexibility */
    max-width: 9.375rem; /* Maintain a maximum width */
    margin: 1.25rem auto; /* Center the card with auto margin */
    cursor: pointer;
    height: auto; /* Allow height to adjust */
    transition: transform 0.2s;
    position: relative;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-image {
    width: 100%;
    height: auto; /* Adjust height based on aspect ratio */
    object-fit: cover;
    opacity: 0.7;
}

.card-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 0.3125rem;
    text-align: center;
}

.card-title {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
}

.card-info {
    margin: 0.3125rem 0 0;
    font-size: 0.75rem;
    color: #bbb;
}

.dropdown-menu {
    position: absolute;
    top: 1.875rem;
    right: 0.625rem;
    background-color: #333;
    border: 0.0625rem solid #555;
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    padding: 0.625rem;
    z-index: 1000;
}

.dropdown-item {
    color: white;
    cursor: pointer;
    margin: 0.3125rem 0;
    padding: 0.3125rem 0.625rem;
    transition: background-color 0.2s ease;
}

.dropdown-item:hover {
    background-color: limegreen;
    color: black;
}

/* Media Queries */
@media (min-width: 1200px) {
    .movie-card {
        width: calc(20% - 2.5rem); /* Responsive width for large displays */
    }
}

@media (min-width: 992px) {
    .movie-card {
        width: calc(25% - 2.5rem); /* Responsive width for medium displays */
    }
}

@media (max-width: 768px) {
    .movie-card {
        width: calc(33.33% - 1.5rem); /* 3 cards in a row */
    }

    .card-title {
        font-size: 0.9rem; /* Adjust font size for title */
    }

    .card-info {
        font-size: 0.65rem; /* Adjust font size for info */
    }
}

@media (max-width: 600px) {
    .movie-card {
        width: calc(50% - 1rem); /* 2 cards in a row */
    }

    .card-title {
        font-size: 0.85rem; /* Further reduce title size */
    }

    .card-info {
        font-size: 0.6rem; /* Further reduce info size */
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 100%; /* Full width on small devices */
        margin: 0.625rem 0; /* Reduce margin */
    }
    .card-title {
        font-size: 0.8rem; /* Further reduce title size */
    }

    .card-info {
        font-size: 0.55rem; /* Further reduce info size */
    }
}
