.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  margin-left: 21.875rem;
  justify-content: center;
  align-items: center;
}

.description-container {
  margin-top: 0.3125rem;
  max-width: 50rem;
  margin-left: 21.875rem;
  margin-right: auto;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: flex-start;
}

.h2-description {
  font-size: 1.3rem;
  margin: 0;
  color: #fff;
  display: inline;
  margin-right: 0.3125rem;
  white-space: nowrap;
}

.movie-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  text-align: justify;
  display: inline;
}

.tools {
  margin-left: 21.875rem;
  margin-top: 0.9375rem;
}


@media (max-width: 768px) {
  iframe {
    margin-left: 5rem;
    width: 80%;
  }

  .description-container {
    max-width: 90%;
    margin-left: 5rem;
  }

  .h2-description {
    font-size: 1.1rem;
  }

  .movie-description {
    font-size: 0.9rem;
  }

  .tools {
    margin-left: 5rem;
  }
}

@media (max-width: 480px) {
  .video-container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    margin-left: 0;
    width: 100%;
  }

  .description-container {
    margin-left: 0;
    margin-right: 0;
  }

  .h2-description {
    font-size: 1rem;
  }

  .movie-description {
    font-size: 0.8rem;
  }

  .tools {
    margin-left: 0;
  }
}
