.user-info-container {
    background-color: #1f1f1f;
    color: white;
    padding: 1.25rem;
    max-width: 31.25rem;
    margin: 2.5rem auto;
    border-radius: 0.5rem;
}

.user-info-container div {
    margin-bottom: 0.625rem;
}

.user-info-container label {
    font-weight: bold;
    display: block;
}

.user-info-container p {
    background-color: #333;
    padding: 0.625rem;
    border-radius: 0.25rem;
}

.label-user {
    color: white;
}

.history-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.movie-card {
    background-color: #333;
    padding: 0.75rem;
    border-radius: 0.5rem;
    width: 10rem;
    text-align: center;
    color: white;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}


.history-content h1 {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1rem;
}


.button-container {
    margin-top: 0.05rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button-container button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #444;
}


@media (max-width: 768px) {
    .movie-card {
        width: 12rem;
    }

    .user-info-container {
        max-width: 90%;
        padding: 1rem;
        margin: 1.5rem auto;
    }

    .user-info-container div {
        margin-bottom: 0.5rem;
    }

    .user-info-container label {
        font-size: 0.9rem;
    }

    .user-info-container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .user-info-container {
        padding: 0.75rem;
    }

    .user-info-container label {
        font-size: 0.85rem;
    }

    .user-info-container p {
        font-size: 0.85rem;
    }

    .movie-card {
        width: 10rem;
    }
}


@media (max-width: 768px) {
    .movie-card {
        width: 8rem;
    }
}

@media (max-width: 480px) {
    .movie-card {
        width: 6.5rem;
    }
}
